{% extends 'tc/test_nav.html' %}

{% block title %}About Test Planner | Help
{% endblock title %}

{% load staticfiles %}

{% block header %}
    <style>
        img {
            width=250px;
            border: 2px solid #666;
            background: #fff;
            padding: 2px;
        }
    </style>
{% endblock header %}

{% block content %}
    <h1>About Test Planner</h1>
    <p>Test Planner is a system to allow you to run through a test sequence and record information along the way.
    The initial target is to run through the ISTA 3A Test Procedure.</p>
    <p>This is currently in Alpha and changing frequently.  If you use it please remember:</p>
    <ul>
        <li>There is currently no security so all data you enter is public</li>
        <li>All data you enter is subject to being deleted as the site evolves</li>
    </ul>

    <h2>Task List</h2>
    <p>Here are some of the high priority tasks for the site</p>
    <ul>
        <li>Change the step pages to show you the comments you've added to a step.  Might show the pictures
            also but I'm worried that will make the app really slow.  Maybe if I can figure out how to do a
            thumbnail on the fly.</li>
        <li>Change the image upload to require one fewer steps.</li>
        <li>Add more steps to the sequence.</li>
        <li>Move new test data entry to a separate page and collect DUT size and weight.</li>
    </ul>

    <p style="font-size: .75em; text-align: right;">overview.html</p>
{% endblock content %}
