{% extends 'tc/test_nav.html' %}

{% block title %}{{ name }} | Select Test
{% endblock title %}

{% load staticfiles %}

{% block header %}
    <style>
        img {
            width=250px;
            border: 2px solid #666;
            background: #fff;
            padding: 2px;
        }
    </style>
{% endblock header %}

{% block content %}
    <h1>Test ISTA 3A</h1>
    {% if test_list %}
        <h2>Select Test In Progress</h2>
        <ul>
            {% for test in test_list %}
                <li><a href="/tc/set_test/{{ test.id }}/">{{ test.desc }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Or Start A New Test</h2>

    <form class="pure-form-stacked" action="/tc/select/" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit" value="Create" />
<br>
<p>
<img id="image" src='/static/standard.png'/>


<script>
function change_image(x) {
    var image_src = '';
    console.log('in change_image');
    console.log(document.getElementById("id_package_type_0").checked);
    if (document.getElementById("id_package_type_0").checked) {
        image_src = '/static/standard.png';
    }
    if (document.getElementById("id_package_type_1").checked) {
        image_src = '/static/small.png';
    }
    if (document.getElementById("id_package_type_2").checked) {
        image_src = '/static/flat.png';
    }
    if (document.getElementById("id_package_type_3").checked) {
        image_src = '/static/elongated.png';
    }
    console.log(image_src);
    document.getElementById("image").src = image_src;
}
</script>
<p style="font-size: .75em; text-align: right;">select.html</p>
{% endblock content %}

