{% extends 'tc/test_nav.html' %}

{% block title %}{{ step.procedure }} | {{ step.step }}
{% endblock title %}

{% load staticfiles %}

{% block header %}
    <h2>{{ step.procedure }} | {{ step.step }} | {{ current_test.item_name }}</h2>
    <style>
       .annotate {
            background: #fff;
            padding: 2px;
            max-width: 50%;
        }
        .moreinfo {
            background: #fff;
            padding: 2px;
            max-width: 200px;
        }
        .prev {
            background-color: #ff0000;
            color: white;
            padding: 20px 20px 20px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        .next {
            background-color: rgb(15,127,18);
            color: white;
            padding: 20px 20px 20px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .skip {
            background-color: #565656;
            color: white;
            padding: 20px 20px 20px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

    </style>
{% endblock header %}

{% block content %}

    <h2>Optional Step</h2>

    <p>{{ step.desc }}</p>
    {% if step.more_info %}
        <a href='/static/{{ step.more_info }}.html'><img class="moreinfo" src='/static/moreinfo.jpg' alt='more information'/></a>
    {% endif %}
    <table>
        <td>
            <a href='#'><img class="annotate" src='/static/photo.jpg' alt='take photo'/></a>
        </td>
        <td>
            <a href='#'><img class="annotate" src='/static/note.png' alt='take photo'/></a>
        </td>
    </table>

    <table>
        <td >
            <a class="prev" href='/tc/step/{{ prev }}'>Previous</a>
        </td>
        <td>
            <a class="next" href='/tc/step/{{ next }}'>Next Step</a>
        </td>
        <td>
            <a class="skip" href='/tc/step/{{ step.skip }}'>Skip This</a>
        </td>
    </table>


{% endblock content %}
