{% extends 'tc/test_nav.html' %}

{% block title %}IOTS | Package Type | {{ test }}
{% endblock title %}

{% load staticfiles %}

{% block header %}
    <style>
        img {
            width=250px;
            border: 2px solid #666;
            background: #fff;
            padding: 2px;
        }
    </style>
{% endblock header %}

{% block content %}
    <h1>Test {{ test }}</h1>
    <h2>Select Your Package Type</h2>

    <form class="pure-form-stacked" action="/tc/type/{{ id }}/" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit" value="Save" />
{% endblock content %}
